@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
.d-grid blockquote {
  font-family: "BadScript";
  font-size: 20px;
}
.d-inline-grid h1 {
  font-family: "MedievalScript";
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  color: crimson;
}
