header .site-logo a,#section2 h3 a,#section3 h2,.section4 .text-block h4,.text-block ul li:before {
    color: orange;
}

header nav ul li a.nav-link {
    color: black;
}

.section1 {
    background-image: url(/images/cargo_delivery_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 30vh
}

#custom-button {
    background-color: orange;
}

.section2 div h3 a {
    color: black;
}

#section3 {
    background-color: rgb(220, 217, 217);
}

#section3 .col-md-3 .box{
    background-color: white;
}

#section3 .col-md-3 .box span svg {
    fill: orange;
}

.text-block h2 {
    color: black;
}




.picture {
    background-image: url(/images/cargo_sea_small.jpg);
    height: 300px;
    background-repeat: no-repeat;
}

#section2 p,#section3 p,.text-block p,.text-block ul,.text-block ul li {
    color: grey;
}

footer {
    background-color: black;
}

footer p {
    color: white;
}

@media screen and (min-width: 992px){

    .section1 {
        background-image: url(/images/cargo_delivery_big.jpg);
        width: 100%;
    }
    .slide-effect {
        transform: translateY(-50px);
        display: inline-block;
        vertical-align: middle;
      }
    
    

    .picture {
        background-image: url(/images/cargo_sea_big.jpg);
        width: 100%;
        height:100%
    }


} 